/* abstract */
/* global */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #131313;
}

.text-color {
  color: #a50707;
}

/* pages */
.hero-page__background img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hero-page__navBar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.hero-page__navBar__title h4 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #e6e2e2;
}
.hero-page__navBar__menus a {
  transition: 500ms;
  text-decoration: none;
  color: #e6e2e2;
  font-family: "Ubuntu", sans-serif;
  margin-right: 2rem;
  font-size: 0.8rem;
}
.hero-page__navBar__menus a:hover {
  color: #616161;
}
.hero-page-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-page-content-about {
  line-height: 3.5rem;
  padding: 2rem 8rem;
  font-weight: 900;
}
.hero-page-content-about .abt {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-left: 2px;
}
.hero-page-content-about p {
  color: #e6e2e2;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}
.hero-page-content-about h4 {
  font-size: 2.5rem;
  color: #e6e2e2;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2.5px;
  text-shadow: -1px -1px 0.1px rgba(245, 245, 245, 0.2509803922);
}
.hero-page-content-about__btn button {
  font-family: "Ubuntu", sans-serif;
  transition: 500ms;
  background-color: #a50707;
  padding: 0.1rem 1.5rem;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 600;
  word-spacing: 5px;
  letter-spacing: 1px;
}
.hero-page-content-about__btn button:hover {
  color: #a50707;
  border: 1px solid #a50707;
  background-color: transparent;
}
.hero-page-content-img {
  margin-top: 3.2rem;
}
.hero-page-content-img img {
  width: 35rem;
  opacity: 0.8;
}

.skill-page {
  background-color: #131313;
  color: aliceblue;
  align-items: center;
}
.skill-page__title {
  margin-top: 2rem;
  text-align: center;
}
.skill-page__title h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.skill-page__title p {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #a50707;
  letter-spacing: 2px;
}
.skill-page_content {
  font-family: "Ubuntu", sans-serif;
  display: flex;
}
.skill-page_content-persentage {
  padding: 5rem 10rem;
  font-size: 1.5rem;
  font-weight: 800;
}
.skill-page_content-persentage__html {
  margin: 2rem 0px;
}
.skill-page_content-persentage__html .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
.skill-page_content-persentage__html .persent-col {
  background-color: #a50707;
  width: 16rem;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content-persentage__html.persent {
  margin: 1rem 0px;
}
.skill-page_content-persentage__css {
  margin: 2rem 0px;
}
.skill-page_content-persentage__css .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
.skill-page_content-persentage__css .persent-col {
  background-color: #a50707;
  width: 13rem;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content-persentage__js {
  margin: 2rem 0px;
}
.skill-page_content-persentage__js .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
.skill-page_content-persentage__js .persent-col {
  background-color: #a50707;
  width: 11rem;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content-persentage__bs {
  margin: 2rem 0px;
}
.skill-page_content-persentage__bs .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
.skill-page_content-persentage__bs .persent-col {
  background-color: #a50707;
  width: 9rem;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content-persentage__sass {
  margin: 2rem 0px;
}
.skill-page_content-persentage__sass .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
.skill-page_content-persentage__sass .persent-col {
  background-color: #a50707;
  width: 8rem;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content__logos {
  padding: 5rem 0rem;
}
.skill-page_content__logos img {
  opacity: 0.9;
}
.skill-page_content__logos .img-1 {
  display: flex;
  justify-content: space-around;
}
.skill-page_content__logos .img-1 .logo-1 img {
  width: 155px;
  margin: 10px;
}
.skill-page_content__logos .img-1 .logo-2 img {
  width: 170px;
  margin: 10px;
  aspect-ratio: 1/1;
}
.skill-page_content__logos .img-1 .logo-3 img {
  width: 190px;
  aspect-ratio: 1/1;
}
.skill-page_content__logos .img-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.skill-page_content__logos .img-2 img {
  width: 190px;
}
.skill-page .skill-values {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
.skill-page .skill-values p {
  font-size: 0.8rem;
}/*# sourceMappingURL=main.css.map */