/* abstract */
/* global */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #131313;
}

.text-color {
  color: #a50707;
}

/* pages */
.hero-page__background img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 576px) {
  .hero-page__background img {
    height: 120%;
  }
}
@media only screen and (max-width: 992px) {
  .hero-page__background img {
    height: 105%;
  }
}
.hero-page__navBar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
@media only screen and (max-width: 576px) {
  .hero-page__navBar {
    padding: 2rem 2rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .hero-page__navBar {
    padding: 2rem 2rem;
  }
}
.hero-page__navBar__title h4 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: #e6e2e2;
}
@media only screen and (max-width: 576px) {
  .hero-page__navBar__title h4 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 992px) {
  .hero-page__navBar__title h4 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero-page__navBar__menus {
    display: none;
  }
}
.hero-page__navBar__menus-sm {
  display: none;
  color: #e6e2e2;
}
.hero-page__navBar__menus-sm:hover {
  color: #616161;
}
@media only screen and (max-width: 576px) {
  .hero-page__navBar__menus-sm {
    display: block;
  }
}
.hero-page__navBar__menus a {
  transition: 500ms;
  text-decoration: none;
  color: #e6e2e2;
  font-family: "Ubuntu", sans-serif;
  margin-right: 2rem;
  font-size: 0.8rem;
}
.hero-page__navBar__menus a:hover {
  color: #616161;
}
.hero-page-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .hero-page-content {
    flex-direction: column;
  }
}
.hero-page-content-about {
  line-height: 3.5rem;
  padding: 2rem 8rem;
  font-weight: 900;
}
@media only screen and (max-width: 576px) {
  .hero-page-content-about {
    padding: 1rem 3rem;
  }
}
@media only screen and (max-width: 992px) {
  .hero-page-content-about {
    padding: 2rem 4rem;
  }
}
.hero-page-content-about .abt {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-left: 2px;
}
.hero-page-content-about p {
  color: #e6e2e2;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}
.hero-page-content-about h4 {
  font-size: 2.5rem;
  color: #e6e2e2;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2.5px;
  text-shadow: -1px -1px 0.1px rgba(245, 245, 245, 0.2509803922);
}
.hero-page-content-about__btn button {
  font-family: "Ubuntu", sans-serif;
  transition: 500ms;
  background-color: #a50707;
  padding: 0.1rem 1.5rem;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 600;
  word-spacing: 5px;
  letter-spacing: 1px;
}
.hero-page-content-about__btn button:hover {
  color: #a50707;
  border: 1px solid #a50707;
  background-color: transparent;
}
.hero-page-content-img {
  margin-top: 3.2rem;
}
.hero-page-content-img img {
  width: 35rem;
  opacity: 0.8;
}
@media only screen and (max-width: 576px) {
  .hero-page-content-img img {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .hero-page-content-img img {
    width: 100%;
  }
}

.skill-page {
  background-color: #131313;
}
.skill-page__title {
  color: #e6e2e2;
  margin-top: 2rem;
  text-align: center;
}
.skill-page__title h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.skill-page__title p {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #a50707;
  letter-spacing: 2px;
}
@media only screen and (max-width: 576px) {
  .skill-page__title {
    margin-top: 2rem;
  }
}
.skill-page_content {
  color: #e6e2e2;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 576px) {
  .skill-page_content {
    flex-direction: column;
  }
}
@media only screen and (max-width: 992px) {
  .skill-page_content {
    flex-direction: column;
  }
}
.skill-page_content-persentage {
  margin-top: 5rem;
  padding: 0rem 5rem;
  font-size: 1.5rem;
  font-weight: 800;
}
@media only screen and (max-width: 576px) {
  .skill-page_content-persentage {
    padding: 0rem 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .skill-page_content-persentage {
    padding: 0rem 5rem;
  }
}
.skill-page_content-persentage__html {
  margin: 2rem 0px;
}
.skill-page_content-persentage__html .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content-persentage__html .persent {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .skill-page_content-persentage__html .persent {
    width: 100%;
  }
}
.skill-page_content-persentage__html .persent-col {
  background-color: #a50707;
  width: 80%;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content-persentage__html.persent {
  margin: 1rem 0px;
}
.skill-page_content-persentage__css {
  margin: 2rem 0px;
}
.skill-page_content-persentage__css .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content-persentage__css .persent {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .skill-page_content-persentage__css .persent {
    width: 100%;
  }
}
.skill-page_content-persentage__css .persent-col {
  background-color: #a50707;
  width: 65%;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content-persentage__js {
  margin: 2rem 0px;
}
.skill-page_content-persentage__js .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content-persentage__js .persent {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .skill-page_content-persentage__js .persent {
    width: 100%;
  }
}
.skill-page_content-persentage__js .persent-col {
  background-color: #a50707;
  width: 60%;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content-persentage__bs {
  margin: 2rem 0px;
}
.skill-page_content-persentage__bs .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content-persentage__bs .persent {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .skill-page_content-persentage__bs .persent {
    width: 100%;
  }
}
.skill-page_content-persentage__bs .persent-col {
  background-color: #a50707;
  width: 50%;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content-persentage__sass {
  margin: 2rem 0px;
}
.skill-page_content-persentage__sass .persent {
  margin: 1rem 0px;
  width: 300px;
  border: 0.5px solid white;
  height: 6px;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content-persentage__sass .persent {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .skill-page_content-persentage__sass .persent {
    width: 100%;
  }
}
.skill-page_content-persentage__sass .persent-col {
  background-color: #a50707;
  width: 45%;
  height: 5px;
  border-radius: 10px;
}
.skill-page_content__logos {
  margin-top: 4rem;
  padding: 2rem 0px;
}
.skill-page_content__logos img {
  opacity: 0.9;
}
.skill-page_content__logos .img-1 {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .img-1 {
    justify-content: space-between;
  }
}
.skill-page_content__logos .img-1 .logo-1 img {
  width: 155px;
  margin: 10px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .img-1 .logo-1 img {
    width: 120px;
  }
}
.skill-page_content__logos .img-1 .logo-2 img {
  width: 170px;
  margin: 10px;
  aspect-ratio: 1/1;
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .img-1 .logo-2 img {
    width: 140px;
  }
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .img-1 .logo-3 {
    display: none;
    text-align: center;
  }
}
.skill-page_content__logos .img-1 .logo-3 img {
  width: 190px;
  aspect-ratio: 1/1;
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .img-1 .logo-3 img {
    width: 140px;
  }
}
.skill-page_content__logos .img-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .img-2 {
    justify-content: space-between;
  }
}
.skill-page_content__logos .img-2 img {
  width: 190px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .img-2 img {
    width: 140px;
  }
}
.skill-page_content__logos .logo-dummy {
  display: none;
}
.skill-page_content__logos .logo-dummy img {
  width: 190px;
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .logo-dummy img {
    width: 140px;
  }
}
@media only screen and (max-width: 576px) {
  .skill-page_content__logos .logo-dummy {
    text-align: center;
    display: block;
  }
}
.skill-page .skill-values {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .skill-page .skill-values {
    max-width: 100%;
  }
}
.skill-page .skill-values p {
  font-size: 0.8rem;
}

.about-page {
  width: 100%;
  height: 100%;
  background-color: #131313;
}
.about-page__title {
  color: #e6e2e2;
  margin-top: 2rem;
  text-align: center;
}
.about-page__title h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.about-page__title p {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #a50707;
  letter-spacing: 2px;
}
.about-page__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 576px) {
  .about-page__content {
    flex-direction: column;
  }
}
@media only screen and (max-width: 992px) {
  .about-page__content {
    flex-direction: column;
  }
}
.about-page__content_image {
  padding: 0px 2rem;
}
@media only screen and (max-width: 992px) {
  .about-page__content_image {
    padding: 0rem 9rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 576px) {
  .about-page__content_image {
    padding: 0rem 1rem;
    margin-top: 2rem;
  }
}
.about-page__content_image img {
  width: 28rem;
  opacity: 0.8;
}
@media only screen and (max-width: 576px) {
  .about-page__content_image img {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .about-page__content_image img {
    width: 90%;
  }
}
.about-page__content_text {
  background-color: #131313;
  color: #e6e2e2;
  text-align: justify;
  padding: 0rem 11rem;
}
@media only screen and (max-width: 576px) {
  .about-page__content_text {
    padding: 2rem 2rem;
    margin: 6rem 0px;
  }
}
@media only screen and (max-width: 992px) {
  .about-page__content_text {
    padding: 2rem 11rem;
    margin: 6rem 0px;
  }
}
@media only screen and (max-width: 1440px) {
  .about-page__content_text {
    padding: 2rem 2rem;
  }
}
.about-page__content_text p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}
.about-page__content_text button {
  margin-left: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background: transparent;
  border: none;
  color: #a50707;
}

.project-page {
  background-color: #131313;
}
.project-page__title {
  color: #e6e2e2;
  margin-top: 2rem;
  text-align: center;
}
.project-page__title h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.project-page__title p {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #a50707;
  letter-spacing: 2px;
}
.project-page__images {
  margin-top: 2rem;
  padding: 2rem 4rem;
}
@media only screen and (max-width: 576px) {
  .project-page__images {
    padding: 0rem 1rem;
  }
}
.project-page__images img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
}
@media only screen and (max-width: 576px) {
  .project-page__images img {
    margin-top: 2rem;
  }
}
.project-page__images .img-1 {
  display: flex;
}
@media only screen and (max-width: 576px) {
  .project-page__images .img-1 {
    flex-direction: column;
  }
}
.project-page__images .fixed {
  background-color: #fff;
  margin-right: 3rem;
  background-color: #323232;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 1px 10px #616161;
}
@media only screen and (max-width: 576px) {
  .project-page__images .fixed {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .project-page__images .fixed {
    margin-right: 1rem;
  }
}
.project-page__images .fixed:hover {
  box-shadow: 4px 2px 30px #616161;
}
.project-page__images .img-2 {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
}
@media only screen and (max-width: 576px) {
  .project-page__images .img-2 {
    padding: 0rem 1rem;
    flex-direction: column;
  }
}
@media only screen and (max-width: 992px) {
  .project-page__images .img-2 {
    padding: 0rem 1rem;
  }
}
.project-page__images .img-2 div {
  background-color: #fff;
  margin-right: 3rem;
  background-color: #323232;
  overflow: hidden;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .project-page__images .img-2 div {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .project-page__images .img-2 div {
    margin-right: 0rem;
  }
}
@media only screen and (max-width: 576px) {
  .project-page__images_countryApi div {
    margin-right: 0rem;
  }
}
.project-page__images_countryApi img {
  width: 340px;
}
@media only screen and (max-width: 992px) {
  .project-page__images_countryApi img {
    width: 100%;
    height: 140px;
  }
}
@media only screen and (max-width: 576px) {
  .project-page__images_countryApi img {
    width: 100%;
    height: 270px;
  }
}
.project-page__images button {
  border: none;
  background: transparent;
  color: #e6e2e2;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
.project-page__images button:hover {
  color: #9d9595;
}
.project-page__images button:hover .fonAwe {
  color: #e6e2e2;
}
.project-page__images .btn {
  transition: 500ms;
  text-align: center;
  width: 20rem;
  margin: 0.5rem 0px;
}
@media only screen and (max-width: 576px) {
  .project-page__images .btn {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .project-page__images .btn {
    width: 100%;
  }
}
.project-page__images_api {
  max-width: 500px;
}
.project-page__images_api button {
  color: #a50707;
  font-weight: 600;
}
.project-page__images_api button:hover .fonAwe {
  color: #a50707;
}
.project-page__images_api img {
  width: 500px;
  height: 180px;
}
@media only screen and (max-width: 992px) {
  .project-page__images_api img {
    width: 100%;
    height: 140px;
  }
}
@media only screen and (max-width: 576px) {
  .project-page__images_api img {
    width: 100%;
    height: 270px;
  }
}
.project-page__images_api .btn {
  width: 33rem;
}
@media only screen and (max-width: 576px) {
  .project-page__images_api .btn {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .project-page__images_api .btn {
    width: 100%;
  }
}

.fonAwe {
  color: #9d9595;
  font-size: 10px;
  margin-left: 5px;
}

.contact-page {
  background-color: #131313;
}
.contact-page__title {
  color: #e6e2e2;
  margin-top: 2rem;
  text-align: center;
}
.contact-page__title h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.contact-page__title p {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #a50707;
  letter-spacing: 2px;
}
.contact-page_content {
  margin-top: 10rem;
  font-family: "Ubuntu", sans-serif;
}
@media only screen and (max-width: 576px) {
  .contact-page_content {
    margin-top: 2rem;
  }
}
.contact-page_content p {
  font-size: 1.5rem;
  margin-right: 2rem;
  letter-spacing: 2px;
}
.contact-page_content_info {
  display: flex;
  justify-content: center;
  padding: auto;
}
@media only screen and (max-width: 576px) {
  .contact-page_content_info {
    flex-direction: column;
    align-items: center;
    margin: 4rem 0px;
  }
}
@media only screen and (max-width: 992px) {
  .contact-page_content_info {
    margin: 4rem 0px;
  }
}
.contact-page_content_info .logo {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #e6e2e2;
}
.contact-page_content_info .logo a {
  color: #e6e2e2;
}
.contact-page_content_info div {
  color: #e6e2e2;
}
.contact-page_content_items {
  transition: 700ms;
  margin: 2rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 576px) {
  .contact-page_content_items {
    justify-content: space-around;
    margin-top: 0.3rem;
    margin: 0rem;
  }
}
@media only screen and (max-width: 992px) {
  .contact-page_content_items {
    justify-content: space-around;
    margin-top: 0.3rem;
    margin: 0rem;
  }
}
.contact-page_content_items a {
  padding: 0px 2rem;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .contact-page_content_items a {
    padding: 0rem 0.5rem;
  }
}
@media only screen and (max-width: 576px) {
  .contact-page_content_items a {
    padding: 0rem 0.5rem;
  }
}
.contact-page_content_items a i {
  font-size: 2rem;
}
.contact-page_content_items a i:hover {
  background: white;
  border-radius: 20%;
  height: 30px;
  color: black;
}
.fan {
  margin-right: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
}
.fan:hover {
  color: #9d9595;
}

.footer {
  background-color: rgb(109, 107, 107);
  margin-top: 18rem;
}
@media only screen and (max-width: 576px) {
  .footer {
    margin-top: 22rem;
  }
}
.footer .foot {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  padding: 2rem 0rem;
}/*# sourceMappingURL=main.css.map */