@use "../abstract/_variables.sass" as var;
@use "../abstract/mixin" as res;

.hero-page {
 
  
  &__background {
    img {
      position: absolute;
      z-index: -1;
      width: 100%;
      height:100%;
      @include res.responsive(xs){
        height: 120%;
       
          
        }

    }

  }

  &__navBar {

 
    padding: 1rem 2rem;
    
    display: flex;
    justify-content: space-between;
    z-index: 999;
    @include res.responsive(xs){
    width: 100%;
    padding: 2rem 2rem;
       
        font-size: 2rem;
      
    }

    &__title {
      
      h4 {
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        color: var.$text-color;
        @include res.responsive(xs){
      font-size: 1.7rem;
            
          }

      }

 

    }

    &__menus {

      @include res.responsive(xs){
        display: none;
       
          
        }
        &-sm{
          display: none;
          color: var.$text-color;
          &:hover {

            color: #616161;
          }
          @include res.responsive(xs){
            display:block;
           
              
            }
        }
      a {
        transition: 500ms;
        text-decoration: none;
        color: var.$text-color;
        font-family: 'Ubuntu', sans-serif;
        margin-right: 2rem;
        font-size: 0.8rem;

        &:hover {

          color: #616161;
        }

      }
    }



  }
  &-content{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include res.responsive(xs){
      flex-direction: column;
     
        
      }
    &-about{
      line-height: 3.5rem;
      padding:2rem 8rem;
      font-weight: 900;
      @include res.responsive(xs){
       
        padding: 1rem 3rem;
          
        }
      .abt{
        font-weight:600;
        font-family: 'Poppins', sans-serif;
        margin-left: 2px;
      }
      p{
      
        color: var.$text-color;
        font-size: 1.5rem;
        font-family: 'Ubuntu', sans-serif;
        @include res.responsive(xs){
       
        
          
        }
        
      }
      h4{
    
        font-size: 2.5rem;
        color:var.$text-color;
         font-family: 'Poppins', sans-serif;
         letter-spacing: 2.5px;
        text-shadow: -1px -1px 0.1px #f5f5f540;
      }
      &__btn{
        button{
          font-family: 'Ubuntu', sans-serif;
          transition: 500ms;
          background-color:var.$theme-color;
          padding:0.1rem 1.5rem;
          font-size: 14px;
          border: none;
          outline: none;
          border-radius: 3px;
          font-weight: 600;
          word-spacing: 5px;
          letter-spacing: 1px;
          &:hover{
            color: var.$theme-color;
            border:1px solid var.$theme-color;
            background-color:transparent;
            

          }
        }
      }
    }
    
    &-img{
    margin-top: 3.2rem;
      img{
      width:35rem;
      opacity: 0.8;
      @include res.responsive(xs){
        width: 100%;
       
          
        }
      }
    }
  }
}