@use"../abstract/_variables.sass" as var;
@use "../global/font";
@use "../utilities/persentage" as persent;
@use "../utilities/page-title" as header;
@use "../abstract/mixin" as res;

.skill-page {


    background-color: #131313;
    @include header.pageTitle();

    &__title {
        @include res.responsive(xs) {
            margin-top: 2rem;
        }
    }

    @include res.responsive(xs) {}

    &_content {
        color: var.$text-color;
        font-family: font.$text;

        display: flex;
        justify-content: space-around;

        @include res.responsive(xs) {
            flex-direction: column;
        }

        @include res.responsive(md) {
            flex-direction: column;
        }

        &-persentage {
            margin-top: 5rem;
            padding: 0rem 5rem;
            font-size: 1.5rem;
            font-weight: 800;

            @include res.responsive(xs) {
                padding: 0rem 2rem;
            }

            @include res.responsive(md) {
                padding: 0rem 5rem;
            }

            @include res.responsive(md) {
                padding: 0rem 5rem;
            }

            @include res.responsive(xl) {
                font-size: 2.8rem;
                font-weight: 800;
            }


            &__html {
                margin: 2rem 0px;
                @include persent.persentage(60%);

                @include res.responsive(xs) {}

                &.persent {
                    margin: 1rem 0px;

                }
            }

            &__css {
                margin: 2rem 0px;
                @include persent.persentage(55%)
            }

            &__js {
                margin: 2rem 0px;
                @include persent.persentage(50%)
            }

            &__bs {
                margin: 2rem 0px;
                @include persent.persentage(45%)
            }

            &__sass {
                margin: 2rem 0px;
                @include persent.persentage(65%)
            }
        }

        &__logos {
            margin-top: 3rem;
            padding: 2rem 0px;

            @include res.responsive(xs) {}

            .logo {
                width: 12rem;
                height: 11rem;

                @include res.responsive(xl) {
                    width: 20rem;
                    height: 16rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            img {
                opacity: 0.9;
            }

            .img-1 {
                display: flex;
                justify-content: space-around;

                @include res.responsive(xs) {
                    justify-content: space-between;
                }

                .logo-1 {
                    img {
                        width: 155px;
                        margin: 10px;

                        @include res.responsive(xs) {
                            width: 120px;
                        }

                        @include res.responsive(xl) {
                            width: 185px;
                        }

                    }
                }

                .logo-2 {


                    img {
                        width: 170px;
                        margin: 10px;


                        aspect-ratio: 1/1;

                        @include res.responsive(xs) {
                            width: 140px;
                        }

                        @include res.responsive(xl) {
                            width: 205px;
                        }
                    }
                }

                .logo-3 {
                    @include res.responsive(xs) {
                        display: none;
                        text-align: center;

                    }

                    img {
                        width: 190px;
                        aspect-ratio: 1/1;

                        @include res.responsive(xs) {
                            width: 140px;
                        }

                        @include res.responsive(xl) {
                            width: 205px;
                        }


                    }
                }
            }

            .img-2 {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;

                @include res.responsive(xs) {
                    justify-content: space-between;
                }

                img {
                    width: 190px;

                    @include res.responsive(xs) {
                        width: 140px;
                    }

                    @include res.responsive(xl) {
                        width: 205px;
                    }
                }


            }

            .logo-dummy {

                display: none;

                img {
                    width: 190px;

                    @include res.responsive(xs) {
                        width: 140px;
                    }

                    @include res.responsive(xl) {
                        width: 205px;
                    }
                }

                @include res.responsive(xs) {
                    text-align: center;
                    display: block;
                }

            }
        }
    }

    .skill-values {
        max-width: 300px;

        display: flex;
        justify-content: space-between;

        @include res.responsive(md) {
            max-width: 100%;
        }

        @include res.responsive(xl) {
            max-width: 490px;
        }

        p {
            font-size: 0.8rem;
        }
    }

}